<h1>Gerenciador de Conteúdo</h1>

<a href="http://localhost/php/rafaelCapoani/mvc/?pagina=admin&metodo=create">Criar Publicação</a> <br>
<br>
<hr>
<br>
<table border="2">
	<tr>
		<th>ID</th>
		<th>TÍTULO</th>
		<th>ALTERAÇÃO</th>
		<TH>DELETAR</TH>
	</tr>


		
	{% for postagem in postagens %}
		<tr>
			<th>{{postagem.id}}</th>
			<th>{{postagem.titulo}}</th>
			<th><a href="http://localhost/php/rafaelCapoani/mvc/?pagina=admin&metodo=change&id={{postagem.id}}">Editar</a></th>
			<TH>DELETAR</TH>
		</tr>
	{% endfor %}
</table>